@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "sf-pro";
}
@font-face {
  font-family: "Neue";
  src: url("/fonts/montreal/PPNeueMontreal-Medium.ttf") format("trueType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "denton";
  src: url("/fonts/denton/DentonCondensedTest-MediumItalic.otf")
    format("openType");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "denton";
  src: url("/fonts/denton/DentonCondensedTest-RegularItalic.otf")
    format("openType");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "sf-pro";
  src: url("/fonts/San-Francisco-Pro-Fonts/SF-Pro-Text-Medium.otf")
    format("openType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "pp-telegraf";
  src: url("/fonts/PPTelegraf-UltraBold.otf") format("openType");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.title {
  font-family: "Neue";
}
h1 {
  color: #1d1d1f;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 6.25rem */
  letter-spacing: -0.125rem;
  font-family: "Neue";
}
h2 {
  color: #1d1d1f;
  font-family: "Neue";
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 5rem */
  letter-spacing: -0.1rem;
}
h1,
h2,
h3,
h4 {
  span {
    font-family: "denton";
    font-style: italic;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(94deg, #047aff 38.02%, #7917df 79.96%);
  }
}
// target p that comes after h1
h1 + p {
  color: #1d1d1f;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 2.1rem */
  letter-spacing: -0.03rem;
}
.particles {
  position: absolute;
  width: 42.6875rem;
  height: 15.3125rem;
  left: 50%;
  translate: -50% 0;
  z-index: -1;
  #tsparticles {
    height: 100%;
  }
}

.but {
  display: inline-flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  &-primary {
    border-radius: 3.125rem;
    background: linear-gradient(
      95deg,
      rgba(4, 122, 255, 0.2) 15.65%,
      rgba(121, 23, 223, 0.2) 48.71%
    );

    backdrop-filter: blur(16px);
    border: 2px solid hsla(212, 100%, 51%, 0.1);
    span {
      background: linear-gradient(95deg, #047aff 15.65%, #7917df 48.71%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
