#header {
  display: flex;
  width: 56.25rem;
  padding: 1rem 1rem 1rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 3.4375rem;
  border: 1px solid #f6f6f6;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  margin: 1.5rem auto 0;
  .logo-wrapper {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    svg {
      //   width: 1.36144rem;
      height: 1.5rem;
    }
    span {
      color: #1d1d1f;
      font-family: "pp-telegraf";
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 2.1rem */
      letter-spacing: -0.03rem;
      height: 1.8rem;
    }
  }
  nav ul {
    display: flex;
    height: 100%;
    gap: 2rem;
    align-items: center;
    li {
      color: #212121;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1rem; /* 88.889% */
      list-style: none;
    }
  }
  .but {
    display: flex;
    // width: 10rem;
    // height: 2.875rem;
    padding: 0.6875rem 1.6875rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 0;
    // border: 1.3px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    span {
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
    }
  }
}
#home {
  .hero {
    margin: 7.5rem 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .header {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      align-items: center;
      max-width: 47rem;
      text-align: center;
      position: relative;
      .but {
        padding: 1rem 2rem;
        span {
          font-size: 1.125rem;
          font-weight: 500;
        }
      }
      .particles {
        top: -5rem;
      }
    }
    .canvas {
      width: 100%;
      height: 45rem;
      position: relative;
      img {
        width: 100%;
        position: absolute;
        top: -15rem;
        z-index: -1;
      }
      .canvas-3d-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        .canvas-3d {
        }
      }
    }
  }
  .clients {
    width: 100%;
    padding: 2.5rem 9.375rem;
    display: flex;
    align-items: center;
    gap: 6.25rem;
    margin-bottom: 9.37rem;
    p {
      width: 22.5rem;
      flex-shrink: 0;
      color: #1e1e2081;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 1.65rem */
      letter-spacing: -0.0275rem;
    }
    .logos {
      position: relative;
      display: flex;
      // gap 4 needs extra space
      // gap: 4rem;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      img {
        max-width: 10rem;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background: linear-gradient(
          90deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 20.78%,
          rgba(255, 255, 255, 0) 46.99%,
          rgba(255, 255, 255, 0) 80.6%,
          #fff 100%
        );
      }
    }
  }
  .brand {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin: 0 9.37rem 6.3rem;

    .blur-text-wrapper {
      padding: 7.5rem;
      border-radius: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.04);
      backdrop-filter: blur(15px);
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      p {
        color: #1d1d1f;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 2.1rem */
        letter-spacing: -0.03rem;
      }
      h3 {
        color: #1d1d1f;
        text-align: center;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 5.2rem */
        letter-spacing: -0.08rem;
        text-wrap: nowrap;
        span {
          color: rgba(4, 122, 255, 1);
          background-clip: unset;
          -webkit-background-clip: unset;
          -webkit-text-fill-color: unset;
          background-image: unset;
        }
      }
    }
    section {
      display: flex;
      gap: 2.5rem;
      width: 100%;
      height: max-content;
      .col {
        display: flex;
        // width: 49.375rem;
        flex: 1;
        padding: 3.5rem 3.5rem 2.875rem 3.5rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 2.5rem;
        border-radius: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(15px);
        height: max-content;
        .outer-wrapper {
          border: 2px solid #ebebeb;
          background: #fafafa;
          border-radius: 1.25rem;
          padding: 0.5rem;
          position: relative;
          .canvas-wrapper {
            width: 100%;
            padding: 2.5rem;
            border-radius: 1rem;
            border: 2px solid #ebebeb;
            background-color: #fff;
            .chart-canvas {
              position: relative;
              width: 100%;
              height: 17.5rem;
              canvas {
                width: 100% !important;
              }
              .label {
                position: absolute;
                display: flex;
                min-width: 7.1875rem;
                padding: 0.5rem 0.625rem;
                align-items: center;
                gap: 0.5rem;
                border-radius: 0.625rem;
                background: #fff;
                box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
                right: 10px;
                span {
                  color: #1d1d1f;
                  font-size: 0.875rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 140%; /* 1.225rem */
                  letter-spacing: -0.0175rem;
                }
                &.up {
                  top: 7px;
                }
                &.down {
                  bottom: 60px;
                }
              }
            }
            .detail {
              display: flex;
              flex-direction: column;
              gap: 0.75rem;
              display: flex;
              .row {
                display: flex;
                padding: 0.875rem 1.25rem;
                justify-content: space-between;
                align-items: center;
                border-radius: 0.5rem;
                background: #f8f8f8;
                div {
                  display: flex;
                  gap: 0.75rem;
                  align-items: center;
                  span {
                    color: #1e1e2080;
                  }
                }
                span {
                  color: #1d1d1f;
                  font-size: 1.125rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 120%; /* 1.35rem */
                  letter-spacing: -0.0225rem;
                }
              }
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 2rem;
            top: 0;
            width: 15.5rem;
            height: 0.5rem;
            background-image: linear-gradient(
              to left,
              #047aff,
              #0e8bfd66,
              #fafafa00
            );
            border-radius: 0 1rem 1rem 0;
          }
        }
        h3 {
          color: #1d1d1f;
          font-family: "Neue";
          font-size: 2.125rem;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 2.55rem */
          letter-spacing: -0.0425rem;
        }
        &.second {
          height: unset;
          .outer-wrapper {
            padding: 0.5rem;
            position: relative;
            width: 100%;
            background: #fafafa;
            flex: 1;
            .inner-wrapper {
              border: 2px solid #ebebeb;
              padding: 3.8rem 6.6rem;
              height: 100%;
              border-radius: 1rem;
              background-color: #fff;

              .bg-pattern {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
              }
              .cards {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                position: relative;
                z-index: 1;
                .card {
                  padding: 1.5rem 1.75rem;
                  display: flex;
                  align-items: center;
                  gap: 1.25rem;
                  border-radius: 1rem;
                  border: 1px solid #e7e7e7;
                  background: #fff;
                  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
                  position: relative;
                  .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 0.25rem;
                    h4 {
                      color: #1d1d1f;
                      font-size: 1.5rem;
                      font-style: normal;
                      font-weight: 600;
                      line-height: 120%; /* 1.8rem */
                      letter-spacing: -0.03rem;
                    }
                    p {
                      color: hsla(240, 3%, 12%, 0.5);
                      font-size: 1.125rem;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 120%; /* 1.35rem */
                      letter-spacing: -0.0225rem;
                    }
                  }
                  &.empty {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 6rem;
                    &-1 {
                      scale: 0.9;
                      bottom: -1.5rem;
                      z-index: -1;
                    }
                    &-2 {
                      scale: 0.8;
                      bottom: -3rem;
                      z-index: -2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .approach {
    position: relative;
    padding: 0 9.375rem 9.375rem;
    .bg-gradient {
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      user-select: none;
      pointer-events: none;
      height: max-content;
    }
    .header {
      padding: 9.3rem 0 3.75rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      align-items: center;
      .particles {
        top: 2rem;
      }
      p {
        max-width: 31rem;
      }
    }
    .items-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // grid-template-rows: repeat(3, 25rem);
      // make them column direction
      gap: 1.5rem;
      --item-hight: 25rem;
      .col {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 100%;
      }
      .item {
        border-radius: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(15px);
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 1.5rem;
        flex-grow: 1;
        .content {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 100%;
          h4 {
            color: #1d1d1f;
            font-family: "Neue";
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 1.8rem */
            letter-spacing: -0.03rem;
          }
          p {
            color: hsla(240, 3%, 12%, 0.5);
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 1.575rem */
            letter-spacing: -0.0225rem;
          }
        }
        .item-svg {
          z-index: 1;
          max-width: 100%;
          height: max-content;
        }
        .bg-dots {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
        &.abs-image {
          height: var(--item-hight);
          justify-content: flex-end;
          .item-svg {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        &.item-1 {
          padding: 3.5rem 2.5rem 2.5rem;
          .item-svg {
            width: 22.375rem;
            box-shadow: 0px -32px 32px 0px rgba(2, 37, 62, 0.04);
          }
          .gradient-bg {
            width: 12.5rem;
            height: 19.61688rem;
            flex-shrink: 0;
            position: absolute;
            top: 0;
            left: 50%;
            translate: -50% 0;
            border-radius: 19.61688rem;
            opacity: 0.1;
            background: linear-gradient(
              272deg,
              #179cfc 1.77%,
              #a517fc 19.51%,
              #179cfc 27.09%,
              #179cfc 49.15%,
              #a517fc 76.57%,
              #179cfc 96.47%
            );
            filter: blur(75px);
          }
        }
        &.item-3 {
          .item-svg {
            z-index: -1;
          }
        }
        &.item-4,
        &.item-5 {
          height: 38.25rem;
          .item-svg {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
          }
        }
        &.item-6 {
          .logos {
            margin: auto 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;
            position: absolute;
            max-width: 90%;
            top: 7.25rem;
            z-index: 1;
            img {
              width: 3.75rem;
              height: 3.75rem;
              &.fig {
                width: 5.25rem;
                height: 5.25rem;
              }
            }
          }
          .item-svg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
          }
        }
        &.item-7 {
          height: var(--item-hight);
          justify-content: flex-end;
          .item-svg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            &.item-svg-1 {
              width: 22.375rem;
              top: 3.5rem;
              z-index: 2;
              height: max-content;
            }
          }
          .gradient-bg {
            width: 27.75rem;
            height: 16.875rem;
            flex-shrink: 0;
            border-radius: 27.75rem;
            opacity: 0.1;
            background: linear-gradient(
              272deg,
              #179cfc 1.77%,
              #a517fc 19.51%,
              #179cfc 27.09%,
              #179cfc 49.15%,
              #a517fc 76.57%,
              #179cfc 96.47%
            );
            filter: blur(75px);
            position: absolute;
            top: 2rem;
            left: 50%;
            translate: -50% 0;
          }
        }
        &.item-8 {
          padding-top: 0;
          height: var(--item-hight);
          .item-svg {
            height: max-content;
          }
        }
      }
    }
  }
  .process {
    padding: 9.38rem 12.5rem 5rem;
    position: relative;
    height: 67.5rem;
    .bg-grid,
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .graph {
      left: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      position: absolute;
    }
  }
  .study {
    padding: 9.38rem 12.5rem;
    background: linear-gradient(180deg, #f5f9fc 0%, #fefeff 100%);
    position: relative;
    z-index: 1;
    .title {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 31rem;
      margin-bottom: 3.12rem;
      p {
        color: #1d1d1f;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 2.1rem */
        letter-spacing: -0.03rem;
        text-align: start;
      }
    }
    .items-wrapper {
      display: flex;
      // flex-wrap: wrap;
      gap: 2.5rem;
      .col {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        flex: 1;
        &:first-child {
          padding-top: 9.38rem;
        }
      }
      .item {
        // width: 46.25rem;
        height: 50rem;
        border-radius: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 3.8rem;
        padding: 1rem 1rem 3rem;
        .img-outer-wrapper {
          display: flex;
          // width: 44.25rem;
          width: 100%;
          height: 33.0625rem;
          padding: 0.5rem;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          border-radius: 1.25rem;
          border: 2px solid #ebebeb;
          background: #fafafa;
          .img-inner-wrapper {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            border: 2px solid #ebebeb;
            background: #f4f8fb;
            overflow: hidden;

            .placeholder {
              width: 37.937rem;
              height: 32.03563rem;
              flex-shrink: 0;
              border-radius: 1rem;
              background: linear-gradient(
                180deg,
                #fff 0%,
                rgba(255, 255, 255, 0) 100%
              );
              box-shadow: -16px -16px 100px 0px rgba(4, 3, 48, 0.06);
              &.placeholder-1 {
                translate: 7rem 6rem;
              }
              &.placeholder-3 {
                translate: -8rem 6rem;
              }
              &.placeholder-4 {
                width: 31.80763rem;
                translate: 5.7rem 6rem;
              }
            }
          }
        }
        .placeholder-wrapper {
          background-color: #f4f8fb;
          border-radius: 1rem;
          width: 100%;
          height: 33.0625rem;
          overflow: hidden;
          position: relative;
          .bg-dot {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 1rem;
            left: 1rem;
          }
          .placeholder {
            width: 37.937rem;
            height: 32.03563rem;
            flex-shrink: 0;
            border-radius: 1rem;
            border-radius: 1rem;
            background: linear-gradient(180deg, #fff 0%, #f7fafc 100%);
            box-shadow: -16px -16px 100px 0px rgba(4, 3, 48, 0.06);
            &.placeholder-1 {
              translate: 7rem 6rem;
            }
            &.placeholder-3 {
              translate: -8rem 6rem;
            }
            &.placeholder-4 {
              width: 31.80763rem;
              translate: 5.7rem 6rem;
            }
          }
          &.multiple-wrapper {
            position: relative;
            .placeholder {
              position: absolute;
              top: 6rem;
            }
            .placeholder-2-1 {
              // trams
              translate: -50%;
            }
            .placeholder-2-2 {
              translate: calc(50% + 2.5rem);
            }
          }
        }
        .detail {
          padding: 0 2rem;
          display: flex;
          flex-direction: column;
          .label {
            display: flex;
            padding: 0.5rem 1.5rem;
            justify-content: center;
            align-items: center;
            border-radius: 2.5rem;
            background: rgba(4, 122, 255, 0.1);
            width: max-content;
            color: #047aff;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 1.4rem */
            letter-spacing: -0.02rem;
            text-transform: uppercase;
          }
          h4 {
            color: #1d1d1f;
            font-family: "Neue";
            font-size: 1.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 2.1rem */
            letter-spacing: -0.035rem;
            margin: 2rem 0 0.5rem;
          }
          p {
            color: hsla(240, 3%, 12%, 0.5);
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 2.0625rem */
            letter-spacing: -0.0275rem;
          }
        }
      }
    }
  }
  .dashed-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 12.5rem;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    pointer-events: none;
    .dashed-grid-line {
      width: 1px;
      height: 100%;
      background: repeating-linear-gradient(
        0deg,
        rgba(14, 2, 2, 0.16),
        rgba(14, 2, 2, 0.16) 0.5rem,
        transparent 0.5rem,
        transparent 1rem
      );
    }
  }
}

#footer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .upper-section {
    padding: 12.38rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    .title {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      p {
        color: #1d1d1f;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 2.1rem */
        letter-spacing: -0.03rem;
      }
    }
    .button-wrapper {
      position: relative;
      .but {
        width: max-content;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        padding: 1.25rem 2rem;
        span {
          font-size: 1.25rem;
          line-height: 1.375rem;
        }
      }
    }
  }
  .bottom-section {
    padding: 5rem 9.38rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: #fff;
    .header {
      display: flex;
      align-items: flex-start;
      gap: 0.625rem;
      align-self: stretch;
      .left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1 0 0;
        .detail {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          p {
            color: hsla(0, 0%, 0%, 0.8);
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 1.875rem */
          }
        }
        .social {
          display: flex;
          gap: 1.5rem;
        }
      }
      .right {
        ul {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          li {
            color: #000;
            text-align: right;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1rem; /* 80% */
            list-style-type: none;
            a {
              color: #000;
              text-decoration: none;
            }
          }
        }
      }
    }
    .copy-right {
      display: flex;
      justify-content: space-between;
      padding-top: 2.5rem;
      border-top: 1px solid #e7e7e7;
      p,
      button {
        color: hsla(0, 0%, 0%, 0.5);
        text-align: right;
        font-family: "Neue";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 1.575rem */
      }
      button {
        cursor: pointer;
        border: 0;
        background: none;
      }
    }
  }
  .gradient-path {
    position: absolute;
    pointer-events: none;
    width: 120%;
    height: min-content;
    top: 0%;
    left: 0;
    top: 11%;
    left: -14%;
  }
}
